<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css"> 
</head>
	<body>
        <%- include('../includes/navigation.ejs') %>

		<main>
			<form class="product-form" method="POST" action="/admin/add-products">
				<div class="form-control">
					<label for="title" >Title</label>
					<input type="text" name="title" />
				</div>
				<div class="form-control">
					<label for="title" >Image URL</label>
					<input type="text" name="imageUrl" id="imageUrl" />
				</div>
				<div class="form-control">
					<label for="title" >PRice</label>
					<input type="text" name="price" id="price" />
				</div>
				<div class="form-control">
					<label for="title" >DEscription</label>
					<textarea type="text" name="description" id="description" ></textarea>
				</div>

				<button type="submit">Add Product</button>
			</form>
        </main>
<%- include('../includes/end.ejs') %>